#container{
    width: 1200px;
    margin: 20px auto;
}
#header{
    width: 100%;
    height: 120px;
    background-color: darkcyan;
}
#left-sidebar{
    width: 250px;
    height: 600px;
    background-color: antiquewhite;
    float: left;
}
#right-sidebar{
    width: 150px;
    height: 600px;
    background-color: cornsilk;
    float: right;
}
#content{
    width: 800px;
    height: 600px;
    background-color: palevioletred;
    float: left;
}
#footer{
    width: 100%;
    height: 100px;
    background-color: coral;
    clear: both;
}